Flask==2.3.3
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.41
greenlet==3.2.3

google-genai==1.29.0
google-auth==2.40.3
requests==2.32.4

python-dotenv==1.0.0
python-jose==3.5.0
gunicorn==21.2.0
